apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: orderflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: <dockerhub-user>/orderflow-frontend:1.0
        ports:
        - containerPort: 80
